/* https://stackoverflow.com/questions/16929728/appending-button-to-textarea */
div {
				display: block;
				position: relative;
}

span.fa.left {
				display: inline-block;
				position: absolute;
				left: 5px;
				bottom: 10px;
				cursor: pointer;
}

span.fa.right {
				display: inline-block;
				position: absolute;
				right: 5px;
				bottom: 10px;
				cursor: pointer;
}

textarea {
				min-height: 5em;
				max-height: 50vh;
				width: 100%;
				overflow-y: auto;
}
