.cursor {
    cursor: pointer;
    font-weight: bold;
    color: blue;
}

.modal.show {
    z-index: 1064 !important;
}

.modal-backdrop.show {
    z-index: 1063 !important;
}

span.oi.left {
				display: inline-block;
				position: absolute;
				left: 5px;
				cursor: pointer;
}

span.oi.right {
				display: inline-block;
				position: absolute;
				right: 5px;
				cursor: pointer;
}
